/* overall */
* {
    text-decoration: none;
}

html {
    background-color: gray;
    color: black;
    font-family: "roboto";
    font-size: 24px;
}

body {
    background-color: gray;
}

.container {
    margin: auto;
    max-width: 1280px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

.primary_button, .secondary_button {
    border-radius: 4px;
    font-weight: 700;
    margin: 5px;
    padding: 20px;
}

/* overall buttons */
.primary_button {
    background-color: #E3170A;
    color: white;
    padding-left: 58px;
    padding-right: 58px;
}

.secondary_button {
    background-color: #8ACFE5;
    color: #011827;
    padding-left: 53px;
    padding-right: 53px;
}

.small_button {
    background-color: #E3170A;
    border-radius: 4px;
    bottom: 10px;
    color: white;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    padding: 12px;
    padding-left: 35px;
    padding-right: 35px;
}

.primary_button:hover, .secondary_button:hover, .small_button:hover {
    box-shadow: 0px 0px 5px 2px gray;
}

/* overall responsive */
@media screen and (max-width: 1312px) {
    .container {
        margin: auto;
        max-width: 640px;
    }
}

@media screen and (max-width: 350px) {
    .secondary_button {
        padding-left: 30px;
        padding-right: 30px;
    }
}

/* header */
header {
    background-color: #011827;
    font-size: 1.66667rem;
    font-weight: 700;
    margin: 0px;
    max-width: 1280px;
}

header img {
    height: 90px;
    left: 27px;
    position: relative;
    top: 26px;
    width: 128px;
}

header :nth-child(2) {
    color: white;
    margin-left: 35px;
    margin-top: 61px;
    position: relative;
}

/* header responsive */
@media screen and (max-width: 1312px) {
    header {
        display: flex;
        margin: auto;
    }

    header img {
        left: 20px;
        top: 20px;
    }

    header :nth-child(2) {
        font-size: 1rem;
        margin-left: 30px;
        margin-top: 23px;
        width: 100px;
    }
}

@media screen and (max-width: 480px) {
    header {
        max-width: 480px;
    }
}

/* navigation bar */
nav {
    align-content: center;
    background-color: #011827;
    display: flex;
    padding-top: 55px;
    text-align: center;
}

nav ul {
    margin: auto;
    margin-bottom: 0px;
    max-width: 950px;
}

nav li {
    display: inline-block;
    margin: 0px;
    margin-left: 35px;
    margin-right: 35px;
    padding: 20px;
}

nav a {
    color: white;
}

nav a:hover {
    color: #8ACFE5;
}

/* navigation responsive */
@media screen and (max-width: 1312px) {
    nav {
        margin: auto;
        padding-top: 25px;
    }

    nav ul {
        margin-bottom: 15px;
        margin-top: 0px;
    }

    nav li {
        display: inline;
        font-size: 20px;
        margin: 0px;
        padding: 20px;
    }
}

@media screen and (max-width: 640px) {
    nav {
        display: none;
    }

    nav ul {
        margin-bottom: 30px;
    }
}
    
/* hero */
.hero {
    background-color: white;
    text-align: center;
}

.hero img {
    background-color: #011827;
    height: 500px;
    object-fit: cover;
    object-position: center;
    width: 100%;
}

.hero ul {
    margin: 0px;
    padding-bottom: 0px;
    position: relative;
    bottom: 25px;
}

.hero li {
    display: inline;
}

/* hero responsive */
@media screen and (max-width: 1312px) {
    .hero img {
        height: 250px;
    }

    .hero ul {
        padding-bottom: 70px;
    }

    .hero li {
        display: block;
        margin: auto;
    }

    .hero .primary_button {
        background-color: white;
        color: #36769d;
        font-size: 16px;
        font-weight: 700;
        position: relative;
        text-decoration: underline;
        top: 150px;
    }

    .hero .secondary_button {
        position: relative;
        top: 50px;
    }
}

@media screen and (max-width: 640px) {
    .hero img {
        height: 274px;
        object-fit: cover;
        object-position: center;
        padding-top: 30px;
      }
}

/* testimonials */
.quote {
    background-color: white;
    margin: auto;
    padding-bottom: 100px;
    padding-top: 0px;
    width: 100%;
}

.quote ul {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
}

.quote li {
    margin-left: 120px;
    width: 400px;
}

.quote img {
    display: block;
    height: 107px;
    position: relative;
    right: 110px;
    top: 110px;
    width: 96,26px;
}

.quote p {
    font-size: 18px;
    margin-top: 5px;
}

@media screen and (max-width: 1312px) {
    .quote .quote_02 {
        display: none;
    }
}

    .quote img {
        height: 72px;
        position: relative;
        right: 90px;
        width: 73,34;
    }

@media screen and (max-width: 563px) {
    .quote ul {
        bottom: 20px;
        margin-top: 0px;
        padding-bottom: 0px;
        position: relative;
        top: 10px;   
    }
}

/* popular challenges */
.popular {
    background-color: white;
    margin: auto;
    padding-bottom: 180px;
    text-align: center;
    width: auto;
}

.popular h1 {
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 75px;
    margin-top: 0px;
}

.popular img {
    max-width: 363px;
  }

.card h2 {
    font-size: 28px;
    font-weight: 400;
    margin: 3px;
    margin-bottom: 0px;
    margin-left: 17px;
    margin-top: 2px;
    text-align: left;
}

.popular .star {
    border: none;
    box-shadow: none;
    display: flex;
    padding: 5px;
    padding-bottom: 10px;
}
  
.popular .star img {
    bottom: 10px;
    height: 15px;
    left: 6px;
    position: relative;
    width: 14px;
    }

.popular p:first-of-type {
    font-size: 14px;
    position: relative;
    bottom: 42px;
    left: 225px;
    text-align: right;
    width: 100px;
}

.popular p {
    bottom: 20px;
    font-size: 18px;
    margin: 3px;
    margin-left: 18px;
    margin-right: 18px;
    position: relative;
    text-align: left;
}

.popular .primary_button, .popular .secondary_button {
    position: relative;
    top: 70px;
}

@media screen and (max-width: 1312px) {
    .popular {
        padding-bottom: 95px;
        text-align: center;
    }

    .popular h1 {
        font-size: 32px;
        margin-bottom: 20px;
    } 

    .popular .primary_button {
        background-color: white;
        color: #36769d;
        display: block;
        font-size: 16px;
        font-weight: 700;
        margin: auto;
        position: relative;
        text-decoration: underline;
        top: 90px;
        width: 190px;
    }

    .popular .secondary_button {
        position: relative;
        top: -25px;
    }
}

@media screen and (max-width: 480px) {
    .popular {
        margin-top: 0px;
        max-width: 480px;
    }

    .popular h1 {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 80px;
        margin-top: 0px;
    }

    .popular h2 {
        font-size: 18px;
    }
}

@media screen and (max-width: 380px) {
    .popular h1 {
        max-width: 480px;
        margin-bottom: 30px;
    }

    .popular p:first-of-type {
        margin-left: 90px;
    }
}

@media screen and (max-width: 350px) {
    .carousel__viewport {
        max-width: 200px;
    }

    .popular p:first-of-type {
        position: relative;
        left: 155px;
    }

    .popular img {
        width: 300px;
    }

    .popular p:first-of-type {
        margin-left: 30px;
    }
}

/* popular - carousel */
@keyframes tonext {
    75% {
      left: 0;
    }
    95% {
      left: 100%;
    }
    98% {
      left: 100%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes tostart {
    75% {
      left: 0;
    }
    95% {
      left: -300%;
    }
    98% {
      left: -300%;
    }
    99% {
      left: 0;
    }
  }
  
  @keyframes snap {
    96% {
      scroll-snap-align: center;
    }
    97% {
      scroll-snap-align: none;
    }
    99% {
      scroll-snap-align: none;
    }
    100% {
      scroll-snap-align: center;
    }
  }
  
  .carousel_
  * {
    scrollbar-color: transparent transparent;
    scrollbar-width: 0px;
  }
  
  *::-webkit-scrollbar {
    width: 0;
  }
  
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  
  *::-webkit-scrollbar-thumb {
    background: transparent;
    border: none;
  }
  
  * {
    -ms-overflow-style: none;
  }
  
  .carousel ol, li {
    list-style: none;
    margin: auto;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0;
    max-width: 1280px ;
  }
  
  .carousel__slide {
    border-radius: 4px;
    box-shadow: 0px 0px 10px #B6BDB5;
    margin: 20px;
    max-width: 363px;
  }
  
  .carousel {
    margin: auto;
    margin-bottom: 0px;
    position: relative;
    padding: 0px;
    padding-top: 470px;
    perspective: 100px;
  }
  
  .carousel__viewport {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    left: 25px;
    display: flex;
    overflow-x: scroll;
    counter-reset: item;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
  }
  
  .carousel__slide {
    position: relative;
    flex: 100% 0 100%;
    counter-increment: item;
  }
  
  .carousel__snapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    scroll-snap-align: center;
  }
  
  @media (hover: hover) {
    .carousel__snapper {
      animation-name: tonext, snap;
      animation-timing-function: ease;
      animation-duration: 4s;
      animation-iteration-count: infinite;
    }
  
    .carousel__slide:last-child .carousel__snapper {
      animation-name: tostart, snap;
    }
  }
  
  @media (prefers-reduced-motion: reduce) {
    .carousel__snapper {
      animation-name: none;
    }
  }
  
  .carousel:hover .carousel__snapper,
  .carousel:focus-within .carousel__snapper {
    animation-name: none;
  }
  
  .carousel__navigation-list,
  .carousel__navigation-item {
    display: inline;
  }
  
  .carousel__navigation-button {
    display: none;
  }
  
  .carousel::before,
  .carousel::after,
  .carousel__prev,
  .carousel__next {
    display: none;
  
  }
  
  @media screen and (max-width: 1312px) {
    .carousel__navigation-button {
      color: #B6BDB5;
      display: inline-block;
      width: 0.2rem;
      height: 0.2rem;
      background-color: white;
      background-clip: content-box;
      border: 0.25rem solid transparent;
      border-radius: 50%;
      bottom: 5px;
      box-shadow: 0 0 5px 1px;
      font-size: 0;
      position: relative;
      transition: transform 0.1s;
    }
    
    .carousel__viewport {
      left: 0px;
    }
  }
  
  @media screen and (max-width: 400px) {
      .carousel__navigation-button {
      display: none;
    }
  }

/* about */
.story {
    background-color: #011827;
    padding-bottom: 132px;
    padding-top: 122px;
}

.story p {
    color: white;
    font-size: 28px;
    margin: auto;
    margin-bottom: 40px;
    max-width: 632px;
    text-align: center;
}

.story a {
    border-style: solid;
    border-radius: 4px;
    color: #8ACFE5;
    display: block;
    margin: auto;
    padding-bottom: 17px;
    padding-top: 17px;
    text-align: center;
    max-width: 302px;
}

.story a:hover {
    box-shadow: 0 0 2px 1px gray;
}

@media screen and (max-width: 1312px) {
    .story {
        padding-bottom: 92px;
        padding-top: 92px;
    }
}

@media screen and (max-width: 500px) {
    .story {
        padding-bottom: 88px;
        padding-top: 88px;
    }

    .story p {
        margin: 10px;
        margin-bottom: 40px;
        max-width: 480px;
    }

    .story a {
        margin-top: 25px;
    }
}

/* play */
.play {
    background-color: white;
    margin-bottom: 0px;
    padding-bottom: 180px;
}

.play_01 img, .play_02 img {
    max-height: 460px;

}

.play_01 {
    background-color: white;
    display: flex;
}

.play_01 .txt {
    margin-left: 116px;
    margin-right: 115px;
}

.play_02 {
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
}

.play_02 .txt {
    margin-left: 116px;
    margin-right: 115px;
}

.play p {
    margin-top: 0px;
    margin-bottom: 45px;
}

.play h2 {
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1312px) { 
    .play {
        margin: auto;
        padding-bottom: 25px;
    }

    .play_01, .play_02 {
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .play .txt {
        height: 400px;
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 0px;
    }

    .play h2 {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .play p {
        margin-bottom: 70px;
    }

    .play_02 h2 {
        margin-bottom: 15px;
    }

    .play_01 {
        padding-bottom: 5px;
    }
}

@media screen and (max-width: 500px) {
    .play {
        max-width: 480px;
    }

    .play img {
        max-height: 300px;
    }

    .play .primary_button {
        padding-left: 25px;
        padding-right: 25px;
    }

    .play_02 {
        padding-bottom: 35px;
    }
}

@media screen and (max-width: 400px) {
    .play_01 {
        padding-bottom: 80px;
    }

    .play_02 {
        padding-bottom: 50px;
    }
}

    @media screen and (max-width: 320px) {
        .play_01 {
            padding-bottom: 140px;
        }
    
        .play_02 {
            padding-bottom: 100px;
        }
}


/* footer */
footer {
    background-color: #011827;
    display: flex;
    margin: 0px;
}

footer h3, footer p, footer a{
    color: white;
    margin-top: 0px;
}

.about {
    margin: 150px;
    margin-bottom: 185px;
    margin-left: 110px;
    max-width: 430px;
}

.site_map, .social_media {
    margin-left: 55px;
    margin-right: 50px;
    margin-top: 150px;
}

footer li:nth-child(5) {
    margin-top: 20px;
}

footer h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

footer {
    font-size: 18px;
    font-weight: 400;
}

@media screen and (max-width: 1312px) {
    footer {
        flex-direction: column;
    }

    footer p {
        margin: 0px;
    }

    .about h3 {
        margin-top: 45px;
    }

    .about, .site_map, .social_media {
        margin: 18px;
    }

    footer a {
        display: block;
    }

    .social_media {
        margin-bottom: 65px;
    }
}