/* overall */
* {
    text-decoration: none;
}

html {
    background-color: gray;
    color: black;
    font-family: "roboto";
    font-size: 24px;
}

body {
    background-color: gray;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

.primary_button, .secondary_button {
    border-radius: 4px;
    font-weight: 700;
    margin: 5px;
    padding: 20px;
    padding-left: 58px;
    padding-right: 58px;
}

.secondary_button {
    padding-left: 55px;
    padding-right: 55px;
}


.primary_button {
    background-color: #E3170A;
    color: white;
}

.primary_button_dark {
    background-color: transparent;
    border-color: #8ACFE5;
    border-style: solid;
    color: #8ACFE5;
}

.secondary_button {
    background-color: #8ACFE5;
    color: #011827;
}

.container {
    margin: auto;
    max-width: 1280px;
}

@media screen and (max-width: 1312px) {
body {
    background-color: #011827;
}
}

/* header */
header {
    background-color: #011827;
    font-size: 1.66667rem;
    font-weight: 700;
    margin: 0px;
    max-width: 1280px;
}

header img {
    height: 82px;
    left: 27px;
    position: relative;
    top: 26px;
    width: 128px;
}

header :nth-child(2) {
    color: white;
    position: relative;
    margin-left: 35px;
    margin-top: 61px;
}

@media screen and (max-width: 480px) {
    header {
        display: flex;
    }

    header img {
        vertical-align: bottom;
        width: 100px;
    }

    header a {
        margin-top: 15px;
        margin-left: 15px;
    }

    header :nth-child(2) {
        font-size: 24rem;
        margin-left: 10px;
        margin-top: 5px;
        width: 100px;
    }
}

/* navigation bar */
nav {
    align-content: center;
    display: flex;
    background-color: #011827;
    padding-top: 55px;
    text-align: center;
}

nav ul {
    margin: auto;
    margin-bottom: 0px;
    width: 950px;
}

nav li {
    display: inline-block;
    margin: 0px;
    margin-left: 35px;
    margin-right: 35px;
    padding: 20px;
}

nav a {
    color: white;
}

@media screen and (max-width: 1312px) {
    nav li {
        padding-left: 1px;
        padding-right: 1px;
    }
}
    
    /*
    nav a {
        display: none;
    }

    nav ul {
        margin: auto;
        width: auto;
    } */


/* hero and challenge buttons */
.hero {
    background-color: white;
    text-align: center;
}

.hero ul {
    margin-bottom: 0px;
    padding-bottom: 50px;
}

.hero img {
    width: 100%;
}

.hero li {
    display: inline-block;
}

.hero .primary_button, .hero .secondary_button{
    bottom: 45px;
    position: relative;
}

@media screen and (max-width: 1312px) {
    .hero {
        margin: auto;
        max-width: 640px;
    }

    .hero li {
        display: block;
        margin: auto;
    }

    .hero ul {
        margin-bottom: 0px;
        padding-bottom: 130px;
    }

    .hero .primary_button {
        background-color: white;
        color: #8ACFE5;
        text-decoration: underline;
        position: relative;
        top: 40px;
    }

}

/* testimonials */
.quote {
    background-color: white;
    padding-top: 50px;
}

.quote ul {
    display: flex;
    margin: auto;
    margin-right: 30px;
    padding-bottom: 35px;
}

.quote li {
    margin-left: 50px;
}

.quote img {
    bottom: 12px;
    float: left;
    height: 107px;
    margin-bottom: 30px;
    margin-right: 15px;
    position: relative;
    width: 96,26px;
}

.quote em {
    bottom: 45px;
    position: relative;
}

.quote p {
    bottom: 45px;
    display: inline-block;
    font-size: 18px;
    position: relative;
    width: 310px;
}

@media screen and (max-width: 1312px) {
    .quote {
        margin: auto;
        max-width: 640px;
    }

    .quote img {
        height: 72px;
        position: relative;
        bottom: 40px;
        width: 73,34;
    }

    .quote ul :nth-child(2) {
        display: none;
    }
}

@media screen and (max-width: 563px) {
    .quote p {
        position: relative;
        left: 80px;
    }



/* popular challenges */
.popular {
    background-color: white;
    padding-bottom: 200px;
    text-align: center;
}

.popular h1 {
    font-size: 36px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 80px;
}

.popular img {
    height: 219px;
    width: 363px;
}

.popular h2 {
    font-size: 28px;
    font-weight: 400;
    margin: 3px;
    margin-bottom: 0px;
    margin-left: 20px;
    }

.popular li {
    border-radius: 8px;
    box-shadow: 0px 0px 10px lightgray;
    display: inline-block;
    margin: 10px;
    text-align: left;
    width: 363px;
}

.star {
    display: inline;
    margin-left: 15px;
    margin-right: 92px;
}

.star li {
    border: none;
    box-shadow: none;
    display: inline;
    margin: 3px;
}

.star img {
    height: 15px;
    width: 15px;
}

.popular li :nth-child(4), .star {
    display: inline;
    font-size: 14px;
}

.popular p {
    font-size: 18px;
    margin: 18px;
}

.small_button {
bottom: 10px;
background-color: #E3170A;
border-radius: 4px;
color: white;
float: right;
font-size: 16px;
font-weight: 700;
margin-top: 10px;
padding: 12px;
padding-left: 35px;
padding-right: 35px;
position: relative; 
right: 10px;
}

.popular .primary_button, .popular .secondary_button {
    position: relative;
    top: 70px;
}

@media screen and (max-width: 1312px) {
    h1 {
        font-size: 32px;
    } 
}

/* about */
.story {
    background-color: #011827;
    padding-bottom: 132px;
    padding-top: 122px;
}

.story p {
    color: white;
    font-size: 28px;
    margin: auto;
    margin-bottom: 33px;
    text-align: center;
    max-width: 632px;
}

.story a {
    border-style: solid;
    color: #8ACFE5;
    display: block;
    margin: auto;
    padding-bottom: 16px;
    padding-top: 16px;
    text-align: center;
    width: 302px;
}

.small_button {
    bottom: 10px;
    background-color: #E3170A;
    border-radius: 4px;
    color: white;
    float: right;
    font-size: 16px;
    font-weight: 700;
    margin-top: 10px;
    padding: 12px;
    padding-left: 35px;
    padding-right: 35px;
    position: relative; 
    right: 10px;
    }

@media screen and (max-width: 1312px) {
    .story {
        margin: auto;
        max-width: 640px;
    }
}

/* play */
.play {
    margin-bottom: 0px;
}

.play01 img, .play02 img {
    max-height: 460px;
    max-width: 640px;
}

.play01 {
    background-color: white;
    display: flex;
}

.play01_txt {
    margin-left: 116px;
    margin-right: 115px;
    max-width: 640px;
}

.play02 {
    background-color: white;
    display: flex;
    flex-direction: row-reverse;
}

.play02_txt {
    margin-left: 116px;
    margin-right: 115px;
    max-width: 640px;
}

.play01_txt p, .play02_txt p {
    margin-top: 0px;
    margin-bottom: 40px;
}

.play01_txt h2, .play02_txt h2 {
    font-size: 32px;
    margin-top: 60px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1312px) {
    /* .play {
        background-color: white;
    } */
    
    .play01, .play02 {
        display: flex;
        flex-direction: column;
        margin: auto;
        max-width: 640px;
    } 

    .play01_txt, .play02_txt {
        height: 400px;
        margin: 10px;
    }
}

/* footer */
footer {
    background-color: #011827;
    display: flex;
    margin: 0px;
}

footer h3, footer p, footer a {
    margin-top: 0px;
    color: white;
}

.about {
    margin: 150px;
    margin-bottom: 185px;
    margin-left: 110px;
    width: 440px;
}

.site_map, .social_media {
    margin-left: 55px;
    margin-right: 70px;
    margin-top: 150px;
}

footer h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

footer {
    font-size: 18px;
    font-weight: 400;
}

@media screen and (max-width: 1312px) {
    footer {
        flex-direction: column;
        margin: auto;
        max-width: 640px;
    }

    footer p {
        margin: 0px;
    }

    .about h3 {
        margin-top: 45px;
    }

    .about, .site_map, .social_media {
        margin: 18px;
    }

    .social_media {
        margin-bottom: 65px;
    }

}