/* overall */
* {
    color:white;
    text-decoration: none;
}

html {
    font-family: "roboto";
    font-size: 15px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

img {
    width: 100%;
} 

.primary_button, .secondary_button{
    border-radius: 0.2rem;
    bottom: 1.5rem;
    color: white;
    font-size: 1.8rem;
    margin: 0.5rem;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    position: relative;
}

.primary_button {
    background-color: #E3170A;
}

.secondary_button {
    background-color: #8ACFE5;

}

@media screen and (max-width: 500px) {
    html {
        font-size: 5px;
    }
}

/* header */
header {
    background-color: #011827;
    font-size: 40px;
    font-weight: bold;
}

header a {

}

header img {
    margin-left: 1rem;
    margin-top: 1rem;
    vertical-align: bottom;
    width: 128px;
}

@media screen and (max-width: 500px) {
    header {
        display: flex;
        height: 100%;
    }

    header img {
        vertical-align: bottom;
        width: 100px;
    }

    header a {
        margin-top: 20px;
        margin-left: 20px;
    }

    header :nth-child(2) {
        font-size: 3.5rem;
        margin-left: 5px;
        margin-top: 30px;
        width: 100px;
    }
}

/* navigation bar */
nav {
    background-color: #011827;
    font-size: 24px ;
    font-weight: bold;
}

nav ul {
    margin: auto;
    width: 1100px;
}

nav li {
    display: inline-block;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 3rem;
    padding: 1.5rem;
}

@media screen and (max-width: 500px) {
    nav a {
        display: none;
    }

    nav ul {
        margin: auto;
        width: auto;
    }
}

/* esc image and challenge buttons */
.hero {
    text-align: center;
}

.hero img {
    width: 100%;
}

.hero a {

}

@media screen and (max-width: 500px) {
    .hero a {
        display: block;
        margin: auto;
        padding: 0.6rem;
        padding-left: 1.5rem;
        width: 15rem;
    }
    .hero :nth-child(2) {
        background-color: white;
        color: #6558F5;
        top: 6px;   
    }

    .hero :nth-child(3) {
        color: white;
        top: -28px;   
    }
}

/* testimonials */
.quote {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin: auto;
    width: 35rem;
}

.quote img {
    width: 8rem;
    height: 8rem;
}

@media screen and (max-width: 500px) {
    .testimonial_01 {
    width: 33rem;
    }

    .testimonial_02 {
        display: none;
    }
}


/* challenges */
.pop_ch {
    grid-column: 1 / 11;
    background-color: green;
}

.challenge_cards {
    grid-column: 1 / 11;
    background-color: red;
    display: flex;
}

.challenge_cards img {
    width: 100%;
}

.all_c_button {
    grid-column: 4 / 10;

}

/* story */
.story {
    grid-column: 1 / 11;

}

.story a {

}

/* play */
.play_cards {
    grid-column: 1 / 11;
}

.play_cards img {
    width: 100%;
}

.play_card_img {
    grid-column: 1 / 7;
    background-color: red;
}

.play_card_txt {
    grid-column: 7 / 11;
    background-color: green;
}

.footer_esc {
    grid-column: 1 / 7;
    background-color: red;
}

.footer_contacts_01 {
    grid-column: 7 / 10;
    background-color: green;
}

.footer_contacts_02 {
    grid-column: 10 / 11;
    background-color: red;
}